<div>
  <h1 class="title">
    Hi there!
  </h1>
  <p class="subtitle">
    Congratulations, you have just started your recruitment test.
  </p>

  <ul>
    <li>
      You can update this page by editing <code>{{ source }}</code> file
    </li>

    <li>
      If you run into problems, check the <a href="https://docs.adonisjs.com" target="_blank">AdonisJS documentation</a>.
    </li>
  </ul>
</div>
