@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

html, body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  color: #000;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}
